<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Employee Details</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>

<h1>{{employee.name}}</h1>

{{#if employee.photoFilename}}
  <div>
    <img src="/photos/{{employee._id}}" alt="Employee photo" width="200">
  </div>
{{/if}}

<p><strong>ID:</strong> {{employee._id}}</p>
<p><strong>Phone:</strong> {{employee.phone}}</p>

<p><a href="/employees/{{employee._id}}/edit">Edit Details</a></p>

<h2>Shifts</h2>

<table>
  <thead>
    <tr>
      <th>Date</th>
      <th>Start</th>
      <th>End</th>
    </tr>
  </thead>

  <tbody>
    {{#each shifts}}
      <tr>
        <td>{{this.date}}</td>
        <td class="{{#if this.isMorning}}morning{{/if}}">
          {{this.startTime}}
        </td>
        <td>{{this.endTime}}</td>
      </tr>
    {{/each}}
  </tbody>

</table>
<p><a href="/logout">Logout</a></p>
<p><a href="/">Back</a></p>

</body>
</html>